{% extends 'base.html' %}
{% load static %}

{% block head_block %}
<title>Thankyou | Maingi</title>
{% endblock head_block %}

{% block content_block %}

<section class="thankyou" id="thankyou">
    <div class="max-width">
        <div class="thankyou-content">
            <div class="jumbotron text-center bg-warning">
                <h3>THANKS FOR GETTING IN-TOUCH WITH ME</h3>
                <p>Will email you back shortly</p>
            </div>
        </div>
    </div>
</section>


{% endblock content_block %}